<!DOCTYPE html>
<html lang="ko">
<head>
<title>자산관리</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./style/common.css" type="text/css"/>
<link rel="stylesheet" href="./style/login.css" type="text/css"/>
<script type="text/javascript" src="./script/common/jsencrypt.min.js"></script>
<script type="module" src="./script/login/login.js"></script>
</head>
<body>
<main>
    <div class="login-form">
        <h1>자산관리</h1>
        <div class="input-group">
            <input id="userId" type="text" placeholder="ID" maxlength="20" autofocus>
            <input id="password" type="password" placeholder="PASSWORD" maxlength="20">
        </div>
        <div class="big-button-group">
            <button id="login">Login</button>
        </div>
        <a href="/login/join"><h6>Join</h6></a>
    </div>
</main>
</body>
</html>